
.nav {
  display: flex;
  align-items: center;
  padding: 10px;
  justify-content: space-between;
  height: 8vh;
}

.nav-menu {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 25px;
}
.nav-toggler {
  display: none;
}
.nav-toggler div {
  width: 35px;
  height: 2px;
  margin: 5px;
  background: #06b6d4;
  transition: 0.3s ease-in;
}

@media screen and (max-width: 768px) {
  .nav-toggler {
    display: block;
    cursor: pointer;
  }
  .nav-menu {
    position: fixed;
    top: 0vh;
    right: 0;
    height: 100vh;
    width: 100vw;
    background: #111827;
    flex-direction: column;
    transform: translateX(100%);
    transition: 0.3s ease-in;
  }
}
/* Active Class */
.nav-active {
  transform: translateX(0%);
}

/* Toggle Icon Animation */

.toggle .line1 {
  transform: rotate(-45deg) translate(-4px, 5px);
}
.toggle .line2 {
  opacity: 0;
}
.toggle .line3 {
  transform: rotate(45deg) translate(-4px, -5px);
}